.calendar-day {
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    cursor: pointer;
    background-color: lightgray;
    width: 6vw;
    height: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.calendar-day-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.calendar-day-formatted-date {
    font-size: 2vw;
    color: black;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.calendar-day-month-name {
    font-size: 1vw;
    color: black;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}
.calendar-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    padding: 2% 28%;
}

.calendar-body-container {
    padding: 0 5%;
    overflow-y: auto;
    max-height: calc(100vh - 100px);
    position: fixed;
    top: 160px;
    left: 0;
    right: 0;
}

.calendar-header-switcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%
}


.calendar-header-title {
    flex-grow: 1;
    margin: 0 20px;
    text-align: center;
    overflow: hidden;
    font-size: calc(1em + 1vw);
    line-height: 1.2;
    min-width: 0;
    max-width: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: clip;
    word-break: break-word;
}

.calendar-week-row {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;
}

.calendar-switcher-left {
    margin-right: 5%;
}

.calendar-switcher-right {
    margin-left: 5%;
}

.calendar-page-button {
    position: fixed;
    top: 10px
}