.login-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-page-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f5f5f5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.login-modal-custom .modal-content {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    /* max-width: 600px;
    min-height: 300px; */
    max-width: 60vw;
    min-width: 30vw;
    max-height: 70vh;
    min-height: 30vh;
    padding: 2vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-modal-custom .modal-body {
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3vw;
}

.login-modal-custom .modal-body h2 {
    font-size: 1.9vw;
    margin-bottom: 1vh;
}

.login-modal-custom .modal-body p {
    font-size: 1.15vw;
    margin-bottom: 2vh;
}

.login-modal-custom .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically if needed */
    margin-bottom: 2vh;
    /* Add spacing as needed */
}

.button-container button {
    margin: 0 15px;
    /* Adds horizontal space between buttons */
}