.navbar-parent-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* border:2px solid goldenrod; */
}

.navbar-collapse {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-brand {
    margin-right: auto;
}

.ms-auto {
    margin-left: auto;
}